{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'styles/main_menu_style.css'%}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}

    <div class="inscription">
        <h2>Ваш персональный помошник</h2>
        <p>Удобнее и лучше, большенства конкурентов. В Efficiency Hub есть все необходимое для повышения своей эффективности.</p>

    </div>

    <div class="Download_button container"><button class="flex centered" onclick="triggerDownload('question/you_are_gae.jpg')">

        <div><img class="windows" src="{% static 'images/windows.png'%}" width="100" height="100" alt="Значок винды" /></div>

        <p>Скачать<br>Efficiency Hub</p>

    </button></div>

    <!-------------------------------------------------------------------------->

    <div>
        <div class="list_button flex">
            <button class="description active">Описание</button>
            <button class="peculiarities">Особенности</button>
            <button class="reviews">Отзывы</button>
        </div>

        <div class="info">
            <article class="description">
                <h2>Efficiency Hub</h2>
                <p> Нууу типо какоенибуть описание ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </article>

            <article class="peculiarities display_none">
                <h2>Efficiency Hub</h2>
                <p> Особенности моей приложухи (Тип там фотки и инструкции) ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </article>

            <article class="reviews display_none">
                <h2>Efficiency Hub</h2>
                <p> Отзывы (Если будут плохие то поудоляем) ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </article>
        </div>
    </div>

    <script type="text/javascript"  src="{% static 'js/main.js'%}"></script>

{% endblock %}