{% load static %}

<nav class="wrapper site-header__wrapper">
    <div class="link step"><a href='{% url "main_menu" %}'><h1> <img src="{% static 'images/application-logo(512x512).png' %}" width="50" height="50" alt="Логатип" />Efficiency Hub
    </h1></a></div>

    <button class="nav__toggle" aria-expanded="false" type="button">
    <img src="{% static 'images/button_menu.png' %}" width="30" height="30" alt="menu">
    </button>

    <ul class="link nav__wrapper">
        <li><a href='{% url "About_Us" %}'>О нас></a></li>
        <li><a href='{% url "Projects" %}'>Проэкты></a></li>
        <li><a href='{% url "Terms_of_use" %}'>
            Пользовательское<br>соглашение>
        </a></li>
        <li><div class="list_button flex">

            {% if user.is_authenticated %}

                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

            {% else %}

                <form action="{% url 'login' %}">
                    <button class="login_button" type="submit">Войти</button>
                </form>

                <form action="{% url 'register' %}">
                    <button class="register_button" type="submit">Зарегистрироваться</button>
                </form>

            {%endif%}

        </div></li>
    </ul>
</nav>