{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
    <link href="{% static 'styles/login_style.css'%}" rel="stylesheet" type="text/css" >
{% endblock %}



{% block content %}

    <div class="indentation">

        <h1>Password reset</h1>
        <hr>

        {% if validlink %}

        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Change my password">
        </form>
        
        {% else %}
        
        <p>{% translate 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
        
        {% endif %}

    </div>

{% endblock %}