<article>
    <h2>Пользовательское соглашение</h2>
    <p>
        1. Начнем с того, что никто никогда не читает пользовательские соглашения до конца, но мы все равно будем писать их. Поэтому спасибо, что ты сейчас потратил время, читая это.<br><br>

        2. Мы обещаем не продавать твои личные данные третьим лицам, хотя могли бы заработать на этом неплохие деньги. Но мы выбираем этический путь. Наверное.<br><br>
        
        3. Ты обязуешься не использовать наше приложение, когда тебя отучились переводить на деньги с утра до ночи, а также не пользоваться им во время важных переговоров со свекровью. Мы не несем ответственности за возможные последствия.<br><br>
        
        4. Если ты заметишь баг в нашем приложении, пожалуйста, сообщи нам об этом. Мы обещаем не съесть тебя за это.<br><br>
        
        5. Мы не гарантируем, что наше приложение будет работать без сбоев. Иногда у программистов бывают плохие дни. Пожалуйста, будь терпеливым.<br><br>
        
        6. Никакие пингвины не пострадали в процессе создания этого пользовательского соглашения.<br><br>
        
        7. Мы имеем право попросить тебя прочитать это пользовательское соглашение еще раз, потому что нам просто скучно.<br><br>
        
        8. При использовании нашего программного обеспечения вы обязуетесь помнить, что котики - это чистое зло, поэтому запрещается открывать наш сервис в присутствии котиков.<br><br>

        9. Мы не сможем восстановить ваши побитые соседями мебель и поэтому рекомендуем использовать наше программное обеспечение бережно.<br><br>

        10. Соглашаясь на наше пользовательское соглашение, вы автоматически соглашаетесь отправлять нам фотографии смешных кошек по крайней мере раз в неделю.<br><br>

        11. Мы не несем ответственности за вашу аллергию на пыльцу или любое другое раздражающее вещество, которое может находиться в нашем программном обеспечении.<br><br>

        12. При использовании нашего приложения вы обязуетесь не кричать "Вулкан!" в общественных местах без причины.<br><br>

        13. Если вы случайно пригласите пингвинов на наше совещание, то обязуетесь угостить их рыбой и никаким образом не ставить пингвинов в неловкое положение.<br><br>

        14. Мы имеем право высылать вам курьера каждый день с пиццей, если вы забудете про нас на два дня подряд.<br><br>

        15. На следующем совещании обязательно наденьте головной убор, в противном случае вы принимаете на себя все риски, связанные с доступом к пиратским материалам.<br><br>

        16. После подписания пользовательского соглашения ваша душа и жопа будут пренодлежать нам.<br><br>

        17. Мы в любой момент времени можем забрать у вас премиум без причины, потому что так хотим.<br><br>

        18. Оплачивая нашу подписку, ты автоматически соглашаешься на все наши условия, даже если они кажутся тебе странными.<br><br>

    </p>
</article>