<div id="login_window" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Зарегистрировать новый аккаунт</h3>
                <a href="#default" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">

                <div class="entry_field flex">
                    <p>email/номер телефона:</p>
                    <input type="text">
                </div>

                <div class="entry_field flex">
                    <p>Пароль:</p>
                    <input type="text">
                </div>
            
                <div><form action="#default"><button class="login_button">Войти</button></form></div>

            </div>
        </div>
    </div>
</div>

<div id="sign_up_window" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Зарегистрировать новый аккаунт</h3>
                <a href="#default" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">

                <div class="entry_field flex">
                    <p>email/номер телефона:</p>
                    <input type="text">
                </div>

                <div class="entry_field flex">
                    <p>Пароль:</p>
                    <input type="text">
                </div>

                <div class="entry_field flex">
                    <p>Повторите:</p>
                    <input type="text">
                </div>
            
                <div><form action="#default"><button    class="register_button">Зарегистрироваться</button></form></div>

            </div>
        </div>
    </div>
</div>